<form method="post">
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <label>Ваше ФИО</label>
                        <input type="text" name="userOrderName" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <label>Электронный адрес</label>
                        <input type="email" name="userOrderEmail" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        <label>Номер телефона</label>
                        <input type="text" name="userOrderPhome" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                        <label>Ваше сообщение</label>
                        <textarea type="text" name="userOrderMessage" rows="2" class="form-control md-textarea"></textarea>
                    </div>
                </div>
            </div>

            <div class="text-center text-md-left">
                <button class="btn btn-success" type="submit" asp-controller="Order" asp-action="Buy">Оформить</button>
            </div>
        </div>
    </div>
</form>