@model UserDeliveryInfo

<form method="post">
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <label asp-for="userOrderName">Ваше ФИО</label>
                        <input type="text" asp-for="userOrderName" class="form-control">
                        <span asp-validation-for="userOrderName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <label asp-for="userOrderEmail">Электронный адрес</label>
                        <input type="email" asp-for="userOrderEmail" class="form-control">
                        <span asp-validation-for="userOrderEmail"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        <label asp-for="userOrderPhome">Номер телефона</label>
                        <input type="text" asp-for="userOrderPhome" class="form-control">
                        <span asp-validation-for="userOrderPhome"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                        <label>Ваше сообщение</label>
                        <textarea type="text" name="userOrderMessage" rows="2" class="form-control md-textarea"></textarea>
                    </div>
                </div>
            </div>

            <div class="text-center text-md-left">
                <button class="btn btn-success" type="submit" asp-controller="Order" asp-action="Buy">Оформить</button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}