@using OnlineWebApp_MVC.Models
@model ChangePassword

<form method="post">

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <input type="hidden" name="exampleLoginEmail" />
    <div class="row">
        <div class="col-6">
            <div class="md-form mb-0">
                <label asp-for="Password">Пароль</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="md-form mb-0">
                <label asp-for="ReTypePassword">Повторите пароль</label>
                <input type="password" asp-for="ReTypePassword" class="form-control" />
                <span asp-validation-for="ReTypePassword"></span>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" role="button">Сохранить изменения</button>
</form>