@using MVC_WebApp.Areas.Admin.Models
@model ChangePassword

<form method="post">

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <input type="hidden" name="UserAccountName" value="@Model.UserAccountName" />
    <div class="row">
        <div class="col-6">
            <div class="md-form mb-0">
                <label asp-for="UserAccountPassword">Пароль</label>
                <input type="text" asp-for="UserAccountPassword" class="form-control">
                <span asp-validation-for="UserAccountPassword"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="md-form mb-0">
                <label asp-for="ReTypeUserAccountPassword">Повторите пароль</label>
                <input type="number" asp-for="ReTypeUserAccountPassword" class="form-control">
                <span asp-validation-for="ReTypeUserAccountPassword"></span>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" asp-area="Admin" asp-controller="User" asp-action="UserChangePassword" role="button">Сохранить изменения</button>
</form>