@using OnlineWebApp_MVC.Models
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@foreach (var product in Model)
{
    <div class="col 3">
        <article class="card">
        <img src="/css/PHTTest.png" alt="" class="card__img">
        <h2 class="card__name">@product.Name</h2>
        <p class="card__price">@product.Cost <span class="card__currency">руб.</span></p>
        <button class="card__btn">В корзину</button>
    </article>
    </div>
    
}