<div class="col-3">
    <div class"row">
        <a asp-area="Admin" asp-controller="Admin" asp-action="Orders"><h4>Заказы</h4></a>
    </div>
    <div class"row">
        <a asp-area="Admin" asp-controller="Admin" asp-action="Users"><h4>Пользователи</h4></a>
    </div>
    <div class"row">
        <a asp-area="Admin" asp-controller="Admin" asp-action="Roles"><h4>Роли</h4></a>
    </div>
    <div class"row">
        <a asp-area="Admin" asp-controller="Admin" asp-action="Products"><h4>Продукты</h4></a>
    </div>
</div>