@model Login

<style>
    .loginForm {
        margin: auto;
        width: 50%;
        margin-top: 20%;
    }

    .form-check-input {
        margin-left: 10px;
    }

    .form-check {
        padding: 0;
    }
</style>

<form method="post">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

    <div class="text-center loginForm">
        <div class="form-outline mb-4">
            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
            <label asp-for="exampleLoginEmail">Электронный адрес</label>
            <input type="email" asp-for="exampleLoginEmail" class="form-control" />
            <span asp-validation-for="exampleLoginEmail"></span>
        </div> 

        <div class="form-outline mb-4">
            <label asp-for="exampleLoginPassword">Пароль</label>
            <input type="password" asp-for="exampleLoginPassword" class="form-control" />
            <span asp-validation-for="exampleLoginPassword"></span>
        </div>

        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <div class="form-check">
                    <label asp-for="exampleLoginCheckBox">Запомнить меня</label>
                    <input class="form-check-input" type="checkbox" asp-for="exampleLoginCheckBox" value="true" />
                    <span asp-validation-for="exampleLoginCheckBox"></span>
                </div>
            </div>

            <div class="col">
                <a href="#!">Забыли пароль?</a>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4" asp-controller="Account" asp-action="Login">Войти</button>

        <div class="text-center">
            <p>Нет аккаунта? <a asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@Model.ReturnUrl">Регистрация</a></p>
        </div>
    </div>
</form>