@model Register

<style>
    .loginForm {
        margin: auto;
        width: 50%;
        margin-top: 20%;
    }

    .form-check-input {
        margin-left: 10px;
    }

    .form-check {
        padding: 0;
    }
</style>

<form method="post">

    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

    <div class="text-center loginForm">
        <div class="form-outline mb-4">
            <label asp-for="exampleLoginEmail">Электронный адрес</label>
            <input type="email" asp-for="exampleLoginEmail" class="form-control" />
            <span asp-validation-for="exampleLoginEmail"></span>
        </div>

        <div class="form-outline mb-4">
            <label asp-for="exampleLoginName">Логин</label>
            <input type="text" asp-for="exampleLoginName" class="form-control" />
            <span asp-validation-for="exampleLoginName"></span>
        </div>

        <div class="form-outline mb-4">
            <label asp-for="exampleLoginNumberPhone">Номер телефона</label>
            <input type="number" asp-for="exampleLoginNumberPhone" class="form-control" />
            <span asp-validation-for="exampleLoginNumberPhone"></span>
        </div>

        <div class="form-outline mb-4">
            <label asp-for="exampleLoginPassword">Пароль</label>
            <input type="password" asp-for="exampleLoginPassword" class="form-control" />
            <span asp-validation-for="exampleLoginPassword"></span>
        </div>

        <div class="form-outline mb-4">
            <label asp-for="exampleReTypeLoginPassword">Повторите пароль</label>
            <input type="password" asp-for="exampleReTypeLoginPassword" class="form-control" />
            <span asp-validation-for="exampleReTypeLoginPassword"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4" asp-controller="Account" asp-action="Register">Создать аккаунт</button>

        <div class="text-center">
            <p>Уже есть аккаунт? <a asp-controller="Account" asp-action="Login">Войти</a></p>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}