@model Register

<style>
    .loginForm {
        margin: auto;
        width: 50%;
        margin-top: 20%;
    }

    .form-check-input {
        margin-left: 10px;
    }

    .form-check {
        padding: 0;
    }
</style>

<form method="post">

    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

    <div class="text-center loginForm">
        <div class="form-outline mb-4">
            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
            <label asp-for="exampleRegisterEmail">Электронный адрес</label>
            <input type="email" asp-for="exampleRegisterEmail" class="form-control" />
            <span asp-validation-for="exampleRegisterEmail"></span>
        </div>

        <div class="form-outline mb-4">
            <label asp-for="exampleRegisterName">Логин</label>
            <input type="text" asp-for="exampleRegisterName" class="form-control" />
            <span asp-validation-for="exampleRegisterName"></span>
        </div>

        <div class="form-outline mb-4">
            <label asp-for="exampleRegisterNumberPhone">Номер телефона</label>
            <input type="number" asp-for="exampleRegisterNumberPhone" class="form-control" />
            <span asp-validation-for="exampleRegisterNumberPhone"></span>
        </div>

        <div class="form-outline mb-4">
            <label asp-for="exampleRegisterPassword">Пароль</label>
            <input type="password" asp-for="exampleRegisterPassword" class="form-control" />
            <span asp-validation-for="exampleRegisterPassword"></span>
        </div>

        <div class="form-outline mb-4">
            <label asp-for="exampleReTypeRegisterPassword">Повторите пароль</label>
            <input type="password" asp-for="exampleReTypeRegisterPassword" class="form-control" />
            <span asp-validation-for="exampleReTypeRegisterPassword"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4" asp-controller="Account" asp-action="Register">Создать аккаунт</button>

        <div class="text-center">
            <p>Уже есть аккаунт? <a asp-controller="Account" asp-action="Login">Войти</a></p>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}