@using MVC_WebApp.Models
@using OnlineWebApp_MVC.Models
@model Role

<form method="post">

    <div>
        <h3>Создание новой роли</h3>
    </div>

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
     
    <div class="row">
        <div class="col-md-6">
            <div class="md-form mb-0">
                <label asp-for="Name">Имя роли</label>
                <input type="text" asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" asp-area="Admin" asp-controller="Admin" asp-action="AddRole" role="button">Добавить роль</button>
</form>